.env*
!.env.example

node_modules/
dist/
coverage/

storage/
# Old location of storage/, moved automatically on the first start of a newer version.
auth/
data/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
